<html>
	<head>
		<title>Foodly</title>
	</head>
	<body>
		<form id='allowedIngredients' action="/foodly" method="post">
			<input name="allowedIngredients[]" placeholder=ingredients>
			<button type='submit'>Foodly me up</button>
		</form>
	</body>
</html>
