<html>
	<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/homepage.css"/>

		<title>Foodly</title>
		<h1>Get your foodly on</h1>
	
		</head>
		<body>
			<form class="pure-form pure-form-stacked" id='allowedIngredients' action="/foodly" method="post">
				<fieldset>
				
					<label for="allowedIngredients[]">Ingredients: </label>
					<input name="allowedIngredients[]" placeholder="E.g. chicken pineapple mint">

					<label for="allergies">Allergies: </label>
					<select  name="allergies">
						<option></option>
						<option value="393^Gluten-Free">Gluten-Free</option>
						<option value="396^Dairy-Free">Dairy-Free</option>
						<option value="394^Peanut-Free">Peanut-Free</option>
						<option value="398^Seafood-Free">Seafood-Free</option>
					</select>

					<label for="diet">Dietary requirements: </label>
					<select name="diet">
						<option></option>
						<option value="386^Vegan">Vegan</option>
						<option value="390^Pescetarian">Pescetarian</option>
						<option value="388^Lacto vegetarian">Lacto vegetarian</option>
						<option value="398^Ovo vegetarian">Ovo vegetarian</option>
						<option value="387^Lacto-ovo vegetarian"> Lacto-ovo vegetarian</option>
					</select>
					<button type="submit" class="pure-button">Foodly me up</button>
				</fieldset>

			</form>
		</body>
</html>
